PORT=5000
NODE_ENV=development
PLATFORM_NAME=ThreadsApp
FRONTEND_URL=http://localhost:3001

# DATABASE (MongoDB)
# =============================
MONGODB_URI=mongodb+srv://Admin:Admin@cluster0.genujkd.mongodb.net/threads?retryWrites=true&w=majority
MONGODB_URI_DIRECT=mongodb://Admin:Admin@cluster0-shard-00-00.genujkd.mongodb.net:27017,cluster0-shard-00-01.genujkd.mongodb.net:27017,cluster0-shard-00-02.genujkd.mongodb.net:27017/threads?ssl=true&replicaSet=atlas-xxxx&authSource=admin&retryWrites=true&w=majority

REDIS_URL=redis://127.0.0.1:6379

JWT_ACCESS_SECRET=21a103506274c7c4e972558cfa786095c9ee7430fc60042576b7a0937f70273a8781d0a1e6f792fff2f03e6d1629cecfc7dfdb33e32cb7746d81be169bdd174e
JWT_REFRESH_SECRET=3211b672f78ba812c693061a748f5ea285f673386a0eb0ff65b3b055bb651b670f5019f544ae29fcffe6c9f47396ef5eb5ba8a4d369cf14dafb957ed0b037d04
NEXTAUTH_SECRET=0e1b21c3895e3ffd68e839dd2a812104357ee41ba60e5215e137ac28ad7202c509c65ff5d46daacb9a30252715b53b6c62d3f0989cdd350d77e33413fbc6e7f1
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

FREE_SHIPPING_THRESHOLD=499
GST_RATE=0.18

RAZORPAY_KEY_ID=rzp_test_key
RAZORPAY_KEY_SECRET=rzp_test_secret
RAZORPAY_WEBHOOK_SECRET=replace-with-your-razorpay-webhook-secret

EMAIL_USER=an2328133@gmail.com
EMAIL_PASS=yqbcyskpjwkcgddq
