NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
BACKEND_URL=http://localhost:5000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=f7675163c3c142fa611f41a929b36fc4
NEXT_PUBLIC_APP_NAME=ThreadsApp Admin
